@import "~assets/styles/utils/_variables";

.phone {
    position: fixed;
    right: 50px;
    background: $primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

    img {
        position: absolute;
        top: 10%;
        left: 25%;
        height: 40px;
    }
}

.call-form-block {
    position: fixed;
    top: 500px;
    right: 50px;
}

.form {
    position: absolute;
    top: 50px;
    left: -200px;
}

@media screen and (max-width: 500px){
    .phone {
        right: 0;
    }
    .call-form-block {
        top: 300px;
    }
}
