<div class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">LOGO</div>
            <ul class="col-lg-12 col-sm-12">
                <li *ngFor="let link of links" [routerLink]="link.path">{{link.name}}</li>
            </ul>
            <div class="contacts col-lg-12 col-sm-12">
                ООО &laquo;МЕД-КОР&raquo;
                <a href="tel:+380487700448">+380487700448</a>
                <a href="tel:+380949954448">+380949954448</a>
                <a href="tel:+380689380492">+380689380492</a>
                г.Одесса, б-р Французский, дом 22, корпус 3.
            </div>
        </div>
    </div>
</div>
