@import '~assets/styles/utils/variables';

.footer {
<<<<<<< HEAD
=======
    background-color: $light;
>>>>>>> created form added google cart
    text-align: center;
    padding: 30px;
}

ul {
    color: $primary;

    li:hover {
        cursor: pointer;
    }
}

.contacts {
    display: flex;
    flex-direction: column;

    a {
        color: $primary;
        text-decoration: none;
    }
}
