@import '~assets/styles/utils/variables';

.footer {
    text-align: center;
    padding: 30px;
    background-color: $black;
}

ul {
    color: $primary;

    li:hover {
        cursor: pointer;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    color: $gray;

    a {
        color: $gray;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
    }
    div {
        margin-bottom: 10px;
    }
}
