<div class="form-wrapper">
    <form class="contact-us-form" [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'FORM.FIRST' | translate}}" formControlName="firstName">
            </label>
            <mat-error
                *ngIf="contactUsForm.controls.firstName.invalid && (contactUsForm.controls.firstName.touched || contactUsForm.controls.firstName.dirty)">
                <mat-error *ngIf="contactUsForm.controls.firstName.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.firstName.errors.minlength">
                    {{minlength}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.firstName.errors.maxlength">
                    {{maxlength}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'FORM.LAST' | translate}}" formControlName="lastName">
            </label>
            <mat-error
                *ngIf="contactUsForm.controls.lastName.invalid && (contactUsForm.controls.lastName.touched || contactUsForm.controls.lastName.dirty)">
                <mat-error *ngIf="contactUsForm.controls.lastName.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.lastName.errors.minlength">
                    {{'ERROR_MSG.MINLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.lastName.errors.maxlength">
                    {{'ERROR_MSG.MAXLENGTH'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'FORM.EMAIL' | translate}}" formControlName="email">
            </label>
            <mat-error
                *ngIf="contactUsForm.controls.email.invalid && (contactUsForm.controls.email.touched || contactUsForm.controls.email.dirty)">
                <mat-error *ngIf="contactUsForm.controls.email.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.email.errors.minlength">
                    {{'ERROR_MSG.MINLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.email.errors.maxlength">
                    {{'ERROR_MSG.MAXLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.email.errors.email">
                    {{'ERROR_MSG.EMAIL'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>
                <textarea matInput placeholder="{{'FORM.QUESTION' | translate}}" formControlName="question"></textarea>
            </label>
            <mat-error
                *ngIf="contactUsForm.controls.question.invalid && (contactUsForm.controls.question.touched || contactUsForm.controls.question.dirty)">
                <mat-error *ngIf="contactUsForm.controls.question.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.question.errors.minlength">
                    {{'ERROR_MSG.MINLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="contactUsForm.controls.question.errors.maxlength">
                    {{'ERROR_MSG.MAXLENGTH'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button [disabled]="!contactUsForm.valid">{{'FORM.SEND' | translate}}</button>
    </form>
</div>
