@import '~assets/styles/utils/variables';

.form-wrapper {
    max-width: 450px;
    max-height: 550px;
    padding: 20px;
    background-color: $form-color;
    border-radius: 10%;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    font-weight: bold;
    margin: 15px;
}
mat-error{
    color: $error;
}
