@import '~assets/styles/utils/variables';

.form-wrapper {
    max-width: 450px;
    max-height: 550px;
    padding: 20px;
    background-color: $form-color;
    border-radius: 10%;
    position: relative;

    img {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
}

.contact-us-form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    font-weight: bold;
    margin: 15px;
}

mat-error {
    color: $error;
}

@media screen and (max-width: 500px) {
    .form-wrapper {
        max-height: 450px;
        padding: 10px;
        border-radius: 5px;
    }
}
