@import '~assets/styles/utils/_variables';

form {
    background-color: $second;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: $text-input !important;
}

::ng-deep .mat-form-field-label {
    color: $text-input !important;
}

button {
    color:  $text-input;
}
