<div class="form-wrapper">
    <form class="contact-us-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'FORM.EMAIL' | translate}}" formControlName="email">
            </label>
            <mat-error
                *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)">
                <mat-error *ngIf="loginForm.controls.email.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.errors.minlength">
                    {{'ERROR_MSG.MINLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.errors.maxlength">
                    {{'ERROR_MSG.MAXLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.errors.email">
                    {{'ERROR_MSG.EMAIL'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input matInput type="password" placeholder="{{'FORM.PASSWORD' | translate}}" formControlName="password" [type]="hide ?
              'password' : 'text'">
            </label>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
                'visibility_off'}}</mat-icon>
            <mat-error
                *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
                <mat-error *ngIf="loginForm.controls.password.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.password.errors.minlength">
                    {{'ERROR_MSG.MINLENGTH'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.password.errors.maxlength">
                    {{'ERROR_MSG.MAXLENGTH'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input matInput type="password" placeholder="{{'FORM.CONFIRM_PASSWORD' | translate}}" formControlName="confirmPassword" [type]="hide ?
              'password' : 'text'">
            </label>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
                'visibility_off'}}</mat-icon>
            <mat-error
                *ngIf="loginForm.controls.confirmPassword.invalid && (loginForm.controls.confirmPassword.touched || loginForm.controls.confirmPassword.dirty)">
                <mat-error *ngIf="loginForm.controls.confirmPassword.errors.required">
                    {{'ERROR_MSG.REQUIRED'| translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.confirmPassword.errors.minlength">
                    {{'ERROR_MSG.CONFIRM'| translate}}
                </mat-error>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button [disabled]="!loginForm.valid">{{'FORM.SEND' | translate}}</button>
    </form>
</div>

