$primary: linear-gradient(to right top, #6b9aff, #00b2ff, #00c5ff, #00d4ef, #0fe1d8);;
$second: #5edfff;
$light: #ecfcff;
$red: #CC0000;
$white: #fff;
$form-color: #4a9aff;
$black: #000;
$text-input: #7438FF;
$error:  #cc4321;
$gray: lightgray;
$border:#4a9aff;
$success: #5ce7c1;;
$dark-gray: #626362;
