@import "~assets/styles/utils/_variables";

h1{
    color:$white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

.benefits {
    height: 300px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $text-input;
}
