@import "~assets/styles/utils/_variables";

.home-img {
    width: 100vw;
    display: block;
}

.benefits {
    padding-bottom: 30px;
    display: flex;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $black;
    margin-bottom: 100px;
}

.under-img-block {
    background-image: $primary;

    .title {
        color: $white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 100px;
        padding-top: 30px;
    }
}

.contact-block {
    background: $gray;
    padding: 30px;
}

@media screen and (max-width: 500px){
    iframe{
        margin-bottom: 20px;
    }
}
