@import '~assets/styles/utils/variables';

ul {
    display: flex;
    justify-content: space-between;
    color: $white;
    font-weight: bold;
    font-size: 20px;

    li:hover {
        cursor: pointer;
    }
}

.header {
    padding: 50px;

    .logo {
        color: $red;
    }
}

button {
    margin-left: 5px;
}
