@import '~src/assets/styles/utils/_variables';

ul{
    display: flex;
    justify-content: space-between;
    color: $light;
    font-weight: bold;
    font-size: 1.5em;
    li:hover{
        cursor: pointer;
    }
}

.header {
    padding: 30px;
    .logo{
        color: $red;
    }
}

button{
    margin-left: 5px;
}
